{% extends "base_generic.html" %}

{% block content %}
  <h2>Schimbă parola</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvează noua parolă</button>

    <p><a href="{% url 'password_change_done' %}">Parola a fost schimbată cu succes!</a></p>
    <p>Dacă nu vrei să resetezi parola, poți <a href="{% url 'dashboard' %}">să te întorci la pagina principala</a>.</p>
  </form>
{% endblock %}

{% block extra_scripts %}
  <script>
    // Optional: Add any JavaScript you need for the password change form
  </script>
{% endblock %}